pom.xml
pom.xml.asc
*.class
/lib/
/classes/
/target/
/checkouts/
.nrepl-port
.cpcache/
/temp/
.idea/
*.iml
.editorconfig
profiles.clj
*.jar
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.clj-kondo/
.*
